<div ng-include src="'templates/serverResponse.html'"></div>
<div id="fh5co-main" >
    <div class="container">
        <div class="row">
            <div id="fh5co-board">
                <div ng-repeat="note in notes track by $index">
                    <div class="item">
                        <div class="animate-box" style="opacity: inherit;">
                            <a href="#{{ 'nt-viewer-' + $index }}" class="image-popup fh5co-board-img">
                                <img ng-src="{{ note.image }}">
                                <div id="{{ 'nt-viewer-' + $index }}" class="note-viewer mfp-hide">
                                </div>
                            </a>
                        </div>
                        <div class="fh5co-item-title">{{ note.title }}</div>
                        <div class="fh5co-desc">{{ note.content }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
