<div id="fh5co-offcanvass" ng-controller="FoldMenuController">
    <a class="fh5co-offcanvass-close">Menu <i class="icon-cross js-fh5co-offcanvass-close"></i> </a>
    <h1 class="fh5co-logo"><a class="navbar-brand" href="index.html">Notes</a></h1>
    <ul class="fh5co-fold-menu">
        <li ng-class="{active: isActive('/home')}"><a href="#/home">Home</a></li>
        <li ng-class="{active: isActive('/create')}"><a href="#/create">Create</a></li>
    </ul>
    <h3 class="fh5co-lead">Connect with us</h3>
    <p class="fh5co-social-icons">
        <a href="#"><i class="icon-twitter"></i></a>
        <a href="#"><i class="icon-facebook"></i></a>
        <a href="#"><i class="icon-instagram"></i></a>
        <a href="#"><i class="icon-dribbble"></i></a>
        <a href="#"><i class="icon-youtube"></i></a>
    </p>
</div>
